/* Add application styles & imports to this file! */
.container {
  width: 900px;
  margin: 20px auto;
  border: 1px solid #333;
  font-family: Arial;
}

.header {
  background: #00a651;
  color: white;
  padding: 10px;
  font-weight: bold;
}
thead th {
  background-color: hsl(219, 59%, 51%);
  color: white;
}

.cb {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.cb input {
  display: none;
}
.checkbox-header {
  text-align: center;
  width: 60px;
}

.fake-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #9ca3af; /* gray */
  border-radius: 3px;
  background-color: #f9fafb;
}
.cb .box {
  width: 16px;
  height: 16px;
  border: 2px solid #9aa0aa;
  background: #e5e7eb;
  border-radius: 4px;
}

/* checked */
.cb input:checked + .box {
  background: #1e3a8a; /* dark blue */
  border-color: #1e3a8a;
}

/* disabled */
.cb input:disabled + .box {
  background: #6d7278;
  border-color: #505255;
  cursor: not-allowed;
}

/* checked + disabled */
.cb input:checked:disabled + .box {
  background: #37393d;
  border-color: #484b52;
}


.actions {
  padding: 10px;
}

.btn {
  padding: 6px 14px;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 8px;
}

.approve {
  background: green;
  color:white;
}

.reject {
  background: red;
  color:white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  padding: 6px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f2f2f2;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.modal-title {
 background-color: hsl(219, 59%, 51%); 
  color: white;
  padding: 10px 14px;
  margin: -16px -16px 12px -16px; /* makes it look like a tab */
}
.form-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.form-label {
  min-width: 70px;
  font-weight: 600;
  margin-top: 6px;
}

.form-textarea {
  flex: 1;
  resize: vertical;
} 
.btn-approve{
    background:hsl(219, 59%, 51%); 
    color: white;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}